body {
    background-color: black;
}

#site-wrapper {
    width: 100%;
    height: 100%;
}

#join-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 10%;
    border: 1px solid red;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
}

#qrcode {
    height: 90%;
    width: 90%;
}

#queue-container {
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid green;
}

#queue-container ul {

}